.Grid {
    width: min(80vw, 330px);
}

.WordRow {
    display: flex;
    justify-content: space-between;
}

.LetterCell {
    border: 2px solid #2d333b;
    position: relative;
    width: 20%;
    aspect-ratio: 1 / 1;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(25px + 2vmin);
    cursor: pointer;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.LetterCell-wrong {
    background-color: #2d333b;
}

.LetterCell-valid {
    background-color: #b59f3b;
}

.LetterCell-placed {
    background-color: #538d4e;
}